<div class="product-item" *ngIf="product.photoProjet" >
   <mat-card fxLayout="column">
     <div class="product-img">
         <a class="product-link"  >
            
           <img [src]=getSantizeUrl(product.photoProjet) alt=""   >
            
        </a>
     </div>
      <div class="product-info-wrapper">
         <div class="butt3">

            <button type="submit" class="butt4" (click)="openProductDialog2(product)">Participer!</button>
         </div>
         <div class="title-wrap">
            <h4>{{product.nomProjet}}</h4>
            <div class="iconn" fxLayout="column">

            <h6> <mat-icon [inline]="true"  >location_on</mat-icon> {{product.gevernorat}}</h6>
            </div>
        
         </div>
         <div  fxLayout="column">
             <p><span style="margin-left: 5px; font-weight: bold; " class="nbjr2">J-{{product.nbjr}}  </span>  <span style="margin-left: 15px;font-weight: bold; " class="nbjr">{{product.typeFinance}} </span></p>
         </div>
         <div class="stars">
            <progress-bar   [progress]="product.pourcentage " [color-degraded]="{'0': '#60B67A'}">>
            </progress-bar>
         </div>
         <div  class="product-info-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
            
            <p> Montant collecté:  {{product.montantRecu }}  DT  
         </p>
           </div>
         
         <div class="price-wrap" fxLayout="row" fxLayoutAlign="space-between center">
           
           </div>
           
         <div class="icons" fxLayout="column">
            

            <a (click)="addToWishlist(product)"><mat-icon class="mat-icon-lg mat-icon material-icons mr-10">favorite</mat-icon></a>
            <a (click)="openProductDialog(product)"><mat-icon>face</mat-icon></a>
           </div>
           
      </div>
   </mat-card>
 </div>
 