<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <div class="container" style="margin-bottom: 3%;">
    <div class="row my-2">
      <div class="col-2 text-center">
        <img src="{{user.photo}}" class="mx-auto img-fluid img-circle d-block" alt="avatar"style="width: 100px;
        height: 100px;">
                    <h5 class="mb-3">{{user.name}} {{user.prenom}}</h5>
                           <h6>Mail: {{user.email}}  
                            
                          </h6>                         
                               
                         <h6>
                            contact: +216 {{user.numtel}}                            </h6>

         
        <label class="custom-file">
            <input type="file" id="file" class="custom-file-input" (change)="updatephoto($event)">
            <span class="custom-file-control">Choose file</span>
        </label>

    </div>
        <div class="col-10">
            <div class="review-wrapper" fxFlex="100"  fxFlex.md="75">
                <mat-card>
                   <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                   <mat-tab label="Ma ferme">
                      <div class="full-desc lh">
                         
                        <div class="col" *ngIf="cartList">
                        
                             <div class="row" style="margin-bottom: 2%;margin-top: 2%;">
                              <div class="col-md-4" style="height:13% ;width:15% ;text-align: center;">
                                <button  style="text-align: center;border-radius: 50%; width: 15%; height: 13%;border-color: #60B67A; background-color: #60B67A;color:#ffffff;">{{totaleI}} DT</button>

                              </div>
                              <div class="col-md-4"  style="height:13% ;width:15% ;text-align: center;">
                                <button   style="text-align: center;border-radius: 50%; width: 15%; height: 13%;border-color: #60B67A; background-color: #60B67A;color:#ffffff;"> {{totaleI+51}} DT</button>

                              </div>
                              <div class="col-md-4"  style="height:13% ;width:15% ;text-align: center;">
                                <button   style="text-align: center;border-radius: 50%; width: 15%; height: 13%;border-color: #60B67A; background-color: #60B67A;color:#ffffff;">{{tottt}}    <br>  %</button>

                              </div>
                            </div>
                        <div class="row">
                          <h4 class="col-md-4" style="text-align: center;">Total Investissements  </h4> 
                          <h4 class="col-md-4" style="text-align: center;"> Mes revenus </h4>
                          <h4 class="col-md-4" style="text-align: center;">Rendement global  </h4> 
                        </div>

                             <table class="table">
                                <thead  style="color:azure; background-color: #60B67A;">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col"  >Nom</th>
                                    <th scope="col">Secteur</th>
                                    <th scope="col">Région</th>
                                    <th scope="col">Investissement</th>
                                    <th scope="col">%dans projet</th>
                                    <th scope="col">Revenus générés</th>
                                    <th scope="col">Rendement cumulé</th>

                                    <th scope="col">Action</th>
                                  </tr>
                                </thead>
                                <tbody  *ngFor="let cart of cartList;let i = index">
                                    

                                  <tr *ngIf="cart.photoProjet">
                                    <th scope="row">{{i}}</th>
                                    <td>  <!-- <img  class="image-holder" [src]=getSantizeUrl(cart.photoProjet) style="width: 50px;
                                        height: 50px;"/> -->
                                        <span>{{cart.nomProjet}}</span>  </td>
                                    <!-- <td><progress-bar [progress]="cart.pourcentage " [color-degraded]="{'0': '#000000',  '40': '#4FC3F7', '70': '#8BC34A'}">>
                                    </progress-bar></td> -->
                                    <td>Production végétale</td>
                                    <td>{{cart.gevernorat}}</td>
                                    <td>{{cart.montantMin}} DT</td>
                                    <td>{{cart.pourcentage}} %</td>
                                    <td>60 dt</td>

                                    <td>18%</td>

                                    <td>                                                    <button type="submit" class="ped-btn-footer2" (click)="buyNow(cart.idProjet)">Détails</button>

                                    </td>
                                  </tr>
                                  <tr>
                                     
                                </tbody>
                              </table>
                               
                        </div>
                       </div>
                   </mat-tab>
                   <mat-tab label="Mes campagnes"  >
                    <div class="full-desc lh">
                      <div class="col" *ngIf="cartList2">
                        
                    

                           <table class="table">
                              <thead style="color:azure; background-color: #60B67A;">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Nom</th>
                                  <th scope="col">Secteur</th>
                                  <th scope="col">Région</th>
                                  <th scope="col">Financement demandé</th>
                                  <th scope="col">Fonds collectés</th>
                                  <th scope="col">Barre de progression</th>
 
                                  <th scope="col">Action</th>
                                </tr>
                              </thead>
                              <tbody  *ngFor="let cart of cartList2;let i = index">
                                  

                                <tr *ngIf="cart.photoProjet">
                                  <th scope="row">{{i}}</th>
                                  <td>  <!-- <img  class="image-holder" [src]=getSantizeUrl(cart.photoProjet) style="width: 50px;
                                      height: 50px;"/> -->
                                      <span>{{cart.nomProjet}}</span>  </td>
                                  <!-- <td><progress-bar [progress]="cart.pourcentage " [color-degraded]="{'0': '#000000',  '40': '#4FC3F7', '70': '#8BC34A'}">>
                                  </progress-bar></td> -->
                                  <td>Production végétale</td>
                                  <td>{{cart.gevernorat}}</td>
                                  <td>{{cart.montantTotal}} DT</td>
                                  <td>{{cart.montantRecu}} DT</td>
                                  <td>{{cart.pourcentage}}%</td>
 
                                  <td>                  
                                    <button type="submit" class="ped-btn-footer2" (click)="buyNow(cart.idProjet)">Détails</button>
                                  </td>
                                </tr>
                                <tr>
                                   
                              </tbody>
                            </table>
                             
                      </div>
                     </div>
                       
                   </mat-tab>
                   <mat-tab label="Ajouter des fonds">
                    <div class="review-wrapper" fxFlex="100"  fxFlex.md="75">
                        <mat-card>
                           <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                           <mat-tab label="Carte bancaire">
                            <div class="mainOrder-wrapper pl-15" fxFlex="100" fxFlex.gt-md="30" fxFlex.md="30">
                                <div class="main-order " >
                            <div class="order-box">
                          
                              <table class="table">

                                <tr>
                                    <td>
                                        montant
                                    </td>
                                    <td>
                                        <input type="text">
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        <div class="content">
                                            <div class="icon-box" style="margin-left: 40%;">
                                                <i class="material-icons" >
                                                  attach_money
                                                    </i>
                                            </div>
                                              
                                          </div>
                                    </td>
                                    <td>
                                        <input type="text">
                                        <br> <input type="text"  style="margin-top: 3%;margin-bottom: 3%;"> 
                                        <br><input type="text">
                                    </td>


                                </tr>
                              </table>
                        
                               
                            
                          <div class="order">
                            <button class="btn-project" mat-raised-button color="accent" type="submit" (click)="addToCart(product)">Ajouter des fonds</button>
                          </div>
                             </div>
                             </div>
                             </div>

                               </mat-tab>
                                 <mat-tab label="Virement bancaire">
                                      <div class="main-order " >
                                          </div>
                                          </mat-tab>
                               </mat-tab-group>
                               </mat-card>
                    </div>
                   
                     
                   </mat-tab>
                   <mat-tab label="Retirer des fonds">
                    <div class="full-desc lh">
                        <h6>Attention  
                                
                        </h6> 
                        <p>

                            Vous deuez ajouter un compte bancaire pour pouvoir retirer des fonds.
                            Vous devez d'abord renseigner votre adresse avant de pouvoir ajouter un compte bancaire.
                        </p>
     
                    </div>
                       
                   </mat-tab>
                    
                   </mat-tab-group>
                </mat-card>
             </div>
        </div>
       
    </div>
</div>